body {
    font-family: sans-serif;
    background-color: #e0f2f7;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.page, .prev, .next {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.page.active {
    background-color: #28a745;
}

.prev, .next {
    padding: 10px;
}
 
  /* Footer Styles */
  .footer {
    padding: 2.5rem;
    background-color: #030F14;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer img {
    width: 6rem;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
  }
  
  .footer nav {
    margin: 1rem;
  }
  
  .footer-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
  }
  
  .link-hover:hover {
    text-decoration: underline;
  }
  