.font-color{
    color: #166484;
  }

.navbar-end{
    padding: 1%;
}
.reg{
    padding: 1%;
}

.button-color{
    background-color: #166484;
    border-radius: 30%;
    color: #E6F5FA;
}

.labColor{
    color:#166484;
    font-size: 50px;
}